<% provide :title, t("login") %>
<% provide(:button_text, t("edit_user")) %>
<div class="page-index">
  <div class="container">
    <p>
      <%= t "acount" %>
    </p>
  </div>
</div>
<div class="container_fullwidth">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="checkout-page">
          <ol class="checkout-steps">
            <li class="steps active">
              <a href="#" class="step-title">
              <%= t "acount" %>
              </a>
              <div class="step-description">
               <%= link_to "View History Order", histories_path,
                 class: "btn btn-primary" %>
               <div class="col-md-offset-4 col-md-4">
                <%= image_tag current_user.image %>
               </div>
               <div class="row">
                <%= render "form_edit" %>
               </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="clearfix">
    </div>
  </div>
</div>
